

.name {
  height: 1rem ;

}

.description{
  height: 5rem ;

}

.bgButton {
  background-color: cornflowerblue;
}

.bgText {
  background-color: whitesmoke;
  margin-left: 1rem;
}

.place{
  text-align: center;
}


